*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 60px;
    
}
p{
    line-height: 30px;
    font-size: 20px;
}
.h1-tag{
    padding: 25px 0px;
}
.h1-tag h1{
    margin: 10px 0px;
    font-weight: bolder;
}
.orange-color{
    color: rgb(0, 204, 255);
}
.flexible-container{
    display: flex;
    align-items: center;
}
.top-intro-setion{
    /* border: 2px solid red; */
    color: rgb(102, 101, 101);
}
.half-div{
    width: 50%;
    padding-left: 5%;
    /* border:2px solid red; */
    /* padding-right: 5%; */
}
.half-div p{
    padding-bottom: 50px;
}
.half-div img{
    width: 90%;
    
}
.link-btn{
    text-decoration: none;
    padding: 25px 50px;
    background-image: linear-gradient(rgb(0, 204, 255), cyan);
    color: white;
    font-weight: 600;
    border-radius: 35px;
    font-size: 17px;
}
#intr-img-div{
    
}